<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  </div>
<input class="text_input" type="text" #characterInput placeholder="Bitte gib einen Buchstaben ein: " >
<button id="search_button" type="button" (click)="search(characterInput.value)">Suche</button>

<input class="text_input" type="text" placeholder="Bitte gib ein Getränk ein: " >
<button id="add_button" type="button" (click)="add()">Hinzufügen</button>

<p *ngFor="let b of beverages" class="resultbox">{{b.name}}</p>
