<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  </div>
<div class="input_container">
<input class="text_input" type="text" placeholder="Bitte gib einen Buchstaben ein: " >
<button class="button" type="button" (click)="click()">Suche</button>
</div>
  <div class="resultbox">
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
    <p class="getränk">Bier</p>
  </div>

