/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: AlphabeticFont;
  src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: AlphabeticFontRegular;
  src: url("fonts/Roboto-Regular.ttf");
}
